In [1]:
L = [1,2,3]
list(map(lambda x: x**2,L))

[1, 4, 9]

In [3]:
from functools import reduce
reduce(lambda x,y:x+y,L)

6

In [4]:
#[1,2,3] --> 123
reduce(lambda x,y:x*10+y,L)

123

In [87]:
# 练习1
L = ['adam', 'LISA', 'barT']
list(map(lambda x:x.title(),L))

# 测试:
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(lambda x:x.title(), L1))
print(L2)

['Adam', 'Lisa', 'Bart']

['Adam', 'Lisa', 'Bart']

In [10]:
#练习2: Python提供的sum()函数可以接受一个list并求和，请编写一个prod()函数，可以接受一个list并利用reduce()求积：
def prod(l):
    return reduce(lambda x,y:x*y,l)

print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))
if prod([3, 5, 7, 9]) == 945:
    print('测试成功!')
else:
    print('测试失败!')

3 * 5 * 7 * 9 = 945
测试成功!

In [108]:
#练习3: 利用map和reduce编写一个str2float函数，把字符串'123.456'转换成浮点数123.456
DIGITS = {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

def str2float(string):
    L = list(map(lambda x:DIGITS[x] if x != '.' else '.',string))
    before_dot = L[:L.index('.')]
    after_dot = L[L.index('.')+1:]
    after_dot = after_dot[::-1]
    return reduce(lambda x,y:x*10+y,before_dot) + reduce(lambda x,y:x/10+y,after_dot)/10
print('str2float(\'123.456\') =', str2float('123.456'))
if abs(str2float('123.456') - 123.456) < 0.00001:
    print('测试成功!')
else:
    print('测试失败!')

str2float('123.456') = 123.456
测试成功!

# filter

In [109]:
L = [1, 2, 4, 5, 6, 9, 10, 15]
list(filter(lambda x:x%2==0,L))

[2, 4, 6, 10]

In [120]:
def a(s):
    return s and s.strip()
s = ['A', '', 'B', None, 'C', '  ']
list(filter(a,s))

['A', 'B', 'C']

In [128]:
def not_empty(s):
    return s and s.strip()

list(filter(not_empty, ['A', '', 'B', None, 'C', '  ']))

['A', 'B', 'C']

In [173]:
#filter 求素数
def odd_iter():   #定义一个奇数序列
    start = 3
    while True:
        yield start
        start += 2

def _not_divisible(n):
    return lambda x: x % n > 0
        
def prime():
    yield 2
    it = odd_iter()
    while True:
        n = next(it)
        yield n
        it = filter(_not_divisible(n), it) #构造新序列

for n in prime():
    if n < 100:
        print(n)
    else:
        break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [166]:
# 练习
# 回数是指从左向右读和从右向左读都是一样的数，例如12321，909。请利用filter()筛选出回数：

def is_palindrome(n):
    l = str(n)
    return l == l[::-1]


# 测试:
output = filter(is_palindrome, range(1, 1000))
print('1~1000:', list(output))
if list(filter(is_palindrome, range(1, 200))) == [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]:
    print('测试成功!')
else:
    print('测试失败!')

1~1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]
测试成功!

In [172]:
def _odd_iter():
    n = 1
    while True:
        n = n + 2
        yield n

def _not_divisible(n):
    return lambda x: x % n > 0

def primes():
    yield 2
    it = _odd_iter() # 初始序列
    while True:
        n = next(it) # 返回序列的第一个数
        yield n
        it = filter(_not_divisible(n), it) # 构造新序列

# 打印1000以内的素数:
for n in primes():
    if n < 50:
        print(n)
    else:
        break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# sorted()

In [177]:
sorted([1,-2,3,-4,5,-9],key=abs,reverse=True)

[-9, 5, -4, 3, -2, 1]

In [192]:
L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]
sorted(L,key=lambda x : x[1],reverse=True)

[('Adam', 92), ('Lisa', 88), ('Bob', 75), ('Bart', 66)]

In [189]:
L = [('Bob', 75), ('adam', 92), ('Bart', 66), ('Lisa', 88)]
sorted(L,key=lambda x : x[0].lower())

[('adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]